@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 95%);
}

main {
    margin: auto;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    flex-direction: row;
    font-size: 15px;
}

.sedans {
    background-color: hsl(31, 77%, 52%);
    padding: 60px 65px 50px 50px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 100%;
    /* font-size: 15px; */
}

.sedans_button {
    position: relative;
    margin-top: 23em;
    color: hsl(31, 77%, 52%);
    justify-content: left;
    background-color: hsl(0, 0%, 95%);
}
.sedans_button:hover {
    background-color: hsl(31, 77%, 52%);
    color: hsla(0, 0%, 100%, 0.75);
    cursor: pointer;
    border: solid hsla(0, 0%, 100%, 0.75);
}

.suvs {
    background-color: hsl(184, 100%, 22%);
    padding: 60px 65px 50px 50px;
    height: 100%;
}

.suvs_button {
    position: relative;
    color: hsl(184, 100%, 22%);
    margin-top: 23em;
    justify-content: left;
    background-color: hsl(0, 0%, 95%);
}
.suvs_button:hover {
    background-color: hsl(184, 100%, 22%);
    color: hsla(0, 0%, 100%, 0.75);
    cursor: pointer;
    border: solid hsla(0, 0%, 100%, 0.75);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 5px;
    padding: 60px 65px 50px 50px;
    border-bottom-right-radius: 5px;
    height: 100%;
}

.luxury_button {
    position: relative;
    color: hsl(179, 100%, 13%);
    margin-top: 23em;
    justify-content: left;
    background-color: hsl(0, 0%, 95%);
}
.luxury_button:hover {
    background-color: hsl(179, 100%, 13%);
    color: hsla(0, 0%, 100%, 0.75);
    cursor: pointer;
    border: solid hsla(0, 0%, 100%, 0.75);
}

h1 {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 30px;
    color: hsl(0, 0%, 95%);
}

article {
    margin-bottom: 1rem;
    font-size: 15px;
    line-height: 2;
    word-spacing: 2;
    justify-content: left;
    align-content: center;
    color: hsla(0, 0%, 100%, 0.75);
}

button {
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 20px;
    outline: none;
}

@media screen and (min-width: 1440px) {
    main {
        margin: 15%;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* height: 100vh; */
        flex-direction: row;
        font-size: 15px;
    }
    h1 {
        font-family: 'Lexend Deca', sans-serif;
        font-weight: 400;
        margin-top: 30px;
        margin-bottom: 30px;
        color: hsl(0, 0%, 95%);
    }
    article {
        margin-bottom: 1rem;
        font-size: 15px;
        line-height: 2;
        word-spacing: 2;
        justify-content: left;
        align-content: center;
        color: hsla(0, 0%, 100%, 0.75);
    }
    .sedans_button {
        position: relative;
        margin-top: 23em;
        color: hsl(31, 77%, 52%);
        justify-content: left;
        background-color: hsl(0, 0%, 95%);
    }
    .suvs_button {
        position: relative;
        color: hsl(184, 100%, 22%);
        margin-top: 23em;
        justify-content: left;
        background-color: hsl(0, 0%, 95%);
    }
    .luxury_button {
        position: relative;
        color: hsl(179, 100%, 13%);
        margin-top: 23em;
        justify-content: left;
        background-color: hsl(0, 0%, 95%);
    }
    button {
        padding: 0.8rem 1rem;
        border: none;
        border-radius: 10px;
        outline: none;
    }
}
@media screen and (max-width: 375px) {
    main {
        margin: 15%;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* height: 100vh; */
        flex-direction: row;
        font-size: 15px;
    }
    h1 {
        font-family: 'Lexend Deca', sans-serif;
        font-weight: 400;
        margin-top: 30px;
        margin-bottom: 30px;
        color: hsl(0, 0%, 95%);
    }
    article {
        margin-bottom: 1rem;
        font-size: 15px;
        line-height: 2;
        word-spacing: 2;
        justify-content: left;
        align-content: center;
        color: hsla(0, 0%, 100%, 0.75);
    }
    .sedans_button {
        position: relative;
        margin-top: 23em;
        color: hsl(31, 77%, 52%);
        justify-content: left;
        background-color: hsl(0, 0%, 95%);
    }
    .suvs_button {
        position: relative;
        color: hsl(184, 100%, 22%);
        margin-top: 23em;
        justify-content: left;
        background-color: hsl(0, 0%, 95%);
    }
    .luxury_button {
        position: relative;
        color: hsl(179, 100%, 13%);
        margin-top: 23em;
        justify-content: left;
        background-color: hsl(0, 0%, 95%);
    }
    button {
        padding: 0.8rem 1rem;
        border: none;
        border-radius: 10px;
        outline: none;
    }
}